.cardAtleta {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid green;
    height: 20em;
    width: 17%;
    border-radius: 1em;
    box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.6);
    color: #e5e5e5;


    
    #imagem {
        height: 50%;
        width: 100%;
        background-color: rgb(108, 108, 108);
        border-radius: 1em 1em 0 0;
    }

    section {
        height: 50%;
        // border: 1px solid blue;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

//    section {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: space-evenly;
        
//         height: 30%;
//         width: 100%;
//         // border: 1px solid blue;
//         padding: 0em 0em;
//         border-radius: 1em;
//    }

//    div {
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: space-around;
//         // gap: 0.3em;
//         width: 100%;
//         // border: 1px solid red;
//    }


}