.landingPageDivulgacao {
    display: flex;
    flex-direction: column;
    min-height: 100vh;


    .numeros,
    .sobreNos,
    .nossosValores {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 1.5rem 0;

        .titulo {
            margin-bottom: 1.5rem;
            font-size: 1em;
        }

        .informacoes {
            width: 95%;
        }
    }


    .numeros {
        background-color: #17191a;
        min-height: 20vh;

        .informacoes {
            display: flex;
            justify-content: space-around;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    color: #1365f1;
                    font-size: 1.8em;
                    margin-bottom: 0.2rem;
                }

                p {
                    font-size: 0.75em;
                    color: #a0a0a0;
                    text-align: center;
                }
            }
        }
    }

    .sobreNos,
    .nossosValores {
        background-color: #121416;
        flex: 1;

        .informacoes {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 1rem;

            .info {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                flex: 1;
                min-width: 250px;
                max-width: 250px;
                min-height: 3em;

                h3 {
                    font-size: 1.2em;
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 0.8em;
                    color: #a0a0a0;
                    line-height: 1.3;
                }

                .img {
                    width: 2.5em;
                    height: 2.5em;
                    border-radius: 7px;
                    border: 2px solid #1365f1;
                    margin-bottom: 0.2rem;
                }
            }

        }
    }

    .nossosValores {

        background-color: #17191a !important;

        .info {
            border: 1px solid #a0a0a0;
            border-radius: 10px;
            padding: 1.6em 2.6em;
        }

    }
}