
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    width: 100%;
    height: 6em;
    align-items: center;
    background-color: #121416;
    // border: 1px solid #000000;

    .logo {
        margin-left: 4em;
        height: 90%;
        color: #e5e5e5;
        // border : 1px solid #000000;
    }

    .nav {
        display: flex;
        flex-direction: row;
        width: 18%;
        justify-content: space-around;
        align-self: center;
        color: #e5e5e5;
        font-size: 1.3em;
        margin-right: 2em;
        // border: 1px solid white;

        nav {
            border: 2px solid #e5e5e5;
            padding: 0.5em 0.9em;
            border-radius: 0.5em;
            box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.6);
        }
    }
}