.footer {
    background-color: #17191a;
    height: 20em;
    padding: 1.5em 0;

    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 100%;

        h1 {
            color: #ffffff;
            font-size: 1.8em;
            margin-top: 0.8em;
            margin-bottom: 1em;
        }

        p {
            color: #bbbbbb;
            font-size: 1em;
        }

        #subtitulo {
            margin-top: -1.5em;
            margin-bottom: 2em;
        }

        #subtexto {
            margin-top: -0.1em;
            margin-bottom: 1.5em;
        }
        div {
            width: 28%;
            display: flex;
            justify-content: space-around;
            margin-bottom: 1em;
            margin-top: 0.3em;
        }

        #creditos {
            border-top: 1px solid #bbbbbb;
            text-align: center;
            align-items: center;
            width: 65%;
            margin-top: 1em;
            height: 3em;
            // border: 1px solid yellow;
        }

        a {
            color: #ffffff;
            text-decoration: none;
            font-size: 1em;
            background-color: #121212;
            padding: 0.6em 2.8em;
            border: 1px solid #ffffff;
            box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.6);
            border-radius: 0.3em;
            text-align: center;

        }

        .adm {
            background-color: blue;
            border: none;
            box-shadow: none;
            padding: 0.6em 1.2em;

        }


    }
}